*{
	margin: 10px;
}
.left {
	padding-top: 20px;
	text-align: center;
	height: 50px;
	width: 100px;
	margin:0;
	border: solid 2px black;
	float: left;
	width: 200px;
	list-style: none;
}
aside{
	align-content: center;
	border: solid 2px black;
	float: left;
	width: 200px;
	height: 900px; 
}
section{
	border: solid 2px black;
	float: left;
	width: 600px;
	height: 900px; 
}
footer{
	float:left;
}