.card{
	float: left;
	background-color: rgb(88, 244, 236);
	width: 33.33%;
	margin: 0.1%;
	padding: 1%;
	border:1px solid black;
}
#central{
	text-align: justify;
	float: left;
}

h1{
	text-align: center;
}
img+p::first-letter{

	
}
img[alt^=cat]{
	border:4px dotted black;
}
img:hover{
	opacity: 0.8;
}
/*
img+p+p{
	display: none;
}
*/
div.card :nth-child(4){
	display: none;
}